<p-calendar
  id="{{id}}"
  dateFormat="dd.mm.yy"
  selectOtherMonths="true"
  [locale]="de"
  showIcon="true"
  showOnFocus="true"
  dataType="string"
  showButtonBar="false"
  monthNavigator = "true"
  yearNavigator = "true"
  placeholder="{{label}}"
  [minDate]="minDate"
  [maxDate]="maxDate"
  [yearRange]="yearRange"
  [defaultDate]="defaultDate"
  appendTo="body"
>
</p-calendar>
&nbsp;<i [ngStyle]="{'color':formControl?.valid ? 'green' : 'red'}" class="pi pi-calendar"></i>
<i *ngIf="isRequired" class="pi pi-info-circle"></i>
