.breadcrumb {
  padding: 1px;
  margin-bottom: 1px;
  list-style: none;
  background-color: lightgray;
  border-radius: 1px;
  font-family: 'Open Sans', sans-serif;
}

.breadcrumb > li {
  display: inline-block;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: blue;
  content: "/\00a0";
}

