<p-card header="Willkommen beim Webtool der Sektion Allgäu-Kempten des Deutschen Alpenvereins e.V.">
  Bitte jetzt anmelden!
  <div class="p-grid">
    <div class="p-col-12 p-sm-6 p-md-6 p-lg-6" *ngIf="this.userId !== undefined">
      <p-toggleButton onLabel="Tour hinzufügen" offLabel="Neue Tour" (onChange)="proposeTour()"></p-toggleButton>
    </div>
  </div>
  <form [formGroup]="createTour">
  <p-card subheader="Neue Tour" *ngIf="this.userId !== undefined && this.display">
    <div class="p-grid">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
        <avk-categoryselect
            formControlName="categoryIds"
            id="categoryIds"
            [topicSpecific]="'tour'">
        </avk-categoryselect>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
        <avk-date formControlName="startDate" id="dbeginn" label="Startdatum" [min]="createTour.get('deadline').value"></avk-date>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
        <avk-date formControlName="deadline" id="dend" label="Deadline Anmeldung" [max]="createTour.get('startDate').value"></avk-date>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
        <p-toggleButton offLabel="Vorbesprechung hinzufügen" onLabel="Vorbesprechung entfernen" class="ui-button-success" (click)="selectPreliminary()"></p-toggleButton>
      </div>
    </div>
    <div class="p-grid" *ngIf="preliminarySelect">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
        <avk-date formControlName="preliminary" id="preliminary" label="Vorbesprechung"
                  [min]="createTour.get('deadline').value" [max]="createTour.get('startDate').value"></avk-date>
      </div>
    </div>
    <p-button label="Tour erstellen & weiterbearbeiten" (onClick)="create(createTour.get('categoryIds').value, createTour.get('startDate').value,
              createTour.get('deadline').value, createTour.get('preliminary').value, this.userId)"></p-button>
  </p-card>
  </form>
</p-card>
