<p-card header="Willkommen beim Webtool der Sektion Allgäu-Kempten des Deutschen Alpenvereins e.V.">
  <div class="p-grid" *ngIf="this.userId === undefined">
    <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
      Bitte jetzt anmelden!
    </div>
  </div>
  <div class="p-grid" *ngIf="this.userId !== undefined">
    <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
      Liebe Bergefreunde, hier könnt ihr eure Touren und Kurse eintragen und verwalten. Wenn Ihr mit der Bearbeitung fertig seid, werden die
      Veranstaltungen noch geprüft und wandern dann auf die Homepage. Wenn ihr eure eingetragenen Touren und Kurse bearbeiten oder anschauen
      möchtet, geht auf Menü --> Touren oder Kurse und klickt die entsprechende Veranstaltung an.
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-12 p-sm-6 p-md-6 p-lg-6" *ngIf="this.userId !== undefined">
      <p-toggleButton onLabel="Neue Tour" offLabel="Tour hinzufügen" (onChange)="proposeTour()"></p-toggleButton>
    </div>
  </div>
  <form [formGroup]="createTour">
  <p-card subheader="Neue Tour" *ngIf="this.userId !== undefined && this.displayTour">
    <div class="p-grid">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
        <avk-categoryselect
            formControlName="categoryIds"
            id="categoryIds"
            [topicSpecific]="'tour'">
        </avk-categoryselect>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
        <avk-date formControlName="startDate" id="dbeginn" label="Startdatum" [min]="createTour.get('deadline').value"></avk-date>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
        <avk-date formControlName="deadline" id="dend" label="Anmeldung" [max]="createTour.get('startDate').value"></avk-date>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
        <p-toggleButton offLabel="Vorbesprechung hinzufügen" onLabel="Vorbesprechung entfernen" class="ui-button-success" (click)="selectPreliminary()"></p-toggleButton>
      </div>
    </div>
    <div class="p-grid" *ngIf="preliminarySelect">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
        <avk-date formControlName="preliminary" id="preliminary" label="Vorbesprechung"
                  [min]="createTour.get('deadline').value" [max]="createTour.get('startDate').value"></avk-date>
      </div>
    </div>
    <p-button label="Tour erstellen & weiterbearbeiten" (onClick)="creatingTour(createTour.get('categoryIds').value, createTour.get('startDate').value,
              createTour.get('deadline').value, createTour.get('preliminary').value, this.userId)"></p-button>
  </p-card>
  </form>

  <div class="p-grid">
    <div class="p-col-12 p-sm-6 p-md-6 p-lg-6" *ngIf="this.userId !== undefined">
      <p-toggleButton onLabel="Neuer Kurs" offLabel="Kurs hinzufügen" (onChange)="proposeInstruction()"></p-toggleButton>
    </div>
  </div>
  <form [formGroup]="createInstruction">
  <p-card subheader="Neuer Kurs" *ngIf="this.userId !== undefined && this.displayInstruction">
    <div class="p-grid">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
        <avk-categoryselect
            formControlName="topicId"
            id="topicId"
            [topicSpecific]="'instruction'">
        </avk-categoryselect>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
        <avk-date formControlName="startDate" id="ibeginn" label="Startdatum"></avk-date>
      </div>
    </div>
    <p-button label="Kurs erstellen & weiterbearbeiten" (onClick)="creatingInstruction(createInstruction.get('topicId').value,
      createInstruction.get('startDate').value, this.userId)"></p-button>
  </p-card>
  </form>
  
  <div class="p-grid" *ngIf="this.userId !== undefined">
    <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
      Wenn ihr Fragen habt, könnt ihr euch jederzeit bei der Geschäftsstelle (<b>info[at]dav-kempten.de</b>) oder bei Jojo
      (<b>jojo[at]dav-kempten.de</b>) melden.
    </div>
  </div>
</p-card>
