{% extends 'admin/base.html' %}

{% block content %}
    <div>
        Hier könnt ihr die Updates vom KV oder Freeclimber einpflegen. Einfach die gewünschte CSV-Datei bei "Browse..."
        auswählen und dann auf "Upload CSV-Datei" klicken.
    </div>
    <div>
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">Upload CSV-Datei</button>
        </form>
    </div>
    <br />

{% endblock %}