{% extends 'admin/base_site.html' %}
{% load i18n static %}

{% block title %}Kursübersicht | DAV Kempten-Allgäu{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block content %}
    <div id="content-main">
        Kursübersicht - WIP
    </div>
    <div id="content-main">
        <ul>
            {% for instruction in instructions %}
                <li class="instruction">{{ instruction }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}