<p-dropdown (onChange)="selectEvent($event)"
  [options]="status"
  optionLabel="name"
  [readonly]="readonly"
  [editable]="editable"
>
</p-dropdown>

<form [formGroup]="instructionGroup">
<p-dialog header="NewEvent" [modal]="true" [(visible)]="display" [style]="{width: '60%', height: '100%'}">
  <div class="p-grid">
    <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
      <input formControlName="reference" id="reference" placeholder="Buchungsnummer" type="text" style='width:100%'
             pInputText>
      </div>
    <div class="p-col-12 p-sm-3 p-md-3 p-lg-3">
      <avk-categoryselect
          formControlName="topicId"
          id="topicId">
      </avk-categoryselect>
    </div>
  </div>
  <form [formGroup]="eventGroup">
  <div class="p-grid">
    <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
      <avk-date formControlName="startDate"
                id="dbeginn" label="Start"
      ></avk-date>
    </div>
    <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
      <avk-date formControlName="endDate"
                id="dend" label="Ende"
      ></avk-date>
    </div>
  </div>
  </form>
</p-dialog>
</form>
