<ng-container *ngIf="(activeItem$ | async) as activeItem else loading">
  <p-tabMenu [model]="menuItems" [activeItem]="{}"></p-tabMenu>
  <ng-container *ngIf="(tours$ | async) as tours">
    <p-table #dt [value]="tours" selectionMode="single" (selectionChange)="selectTour($event)" [globalFilterFields]="['reference', 'title', 'guide']">
    <ng-template pTemplate="caption">
      <div class="p-grid">
        <div class="p-col-12 p-sm-2 p-md-2 p-lg-2" style="text-align: left">
          <p-button label="Tour hinzufügen" (onClick)="handleClick()" *ngIf="(permissionHandler$ | async).staff"
                    styleClass="ui-button-secondary"
          ></p-button>
        </div>
        <div class="p-col-12 p-sm-8 p-md-8 p-lg-8" style="text-align: left">
          <i class="pi pi-search" style="margin:4px 4px 0 0" ></i>
          <input type="text" pInputText maxlength="50" placeholder="Tourenfilter"
                 (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
        <div class="p-col-12 p-sm-2 p-md-2 p-lg-2" style="text-align: left">
          <p-dropdown [options]="filter" (onChange)="changeViewSetActive($event, dt)"></p-dropdown>
        </div>
      </div>
    </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Buchungscode</th>
          <th>Datum</th>
          <th>Bezeichnung</th>
          <th>Tourenleiter</th>
          <th>Status</th>
          <th>Belegung (Min|Aktuell|Max)</th>
          <th>Kursaktionen</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tour>
        <tr [pSelectableRow]="tour">
          <td>{{tour.reference}}</td>
          <td>{{tour.startDate | date}}</td>
          <td>{{tour.title}}</td>
          <td>{{tour.guide}}</td>
          <td>{{tour.stateId | state}}</td>
          <td>{{tour.minQuantity}} | {{tour.curQuantity}} | {{tour.maxQuantity}}</td>
          <td>
            <button pButton type="button" label="Klonen" class="ui-button-info" (click)="handleClickClone(tour.id)"
                    *ngIf="(permissionHandler$ | async).staff || (tour.guideId === (permissionHandler$ | async).id)"></button>
            <button pButton type="button" label="Löschen" class="ui-button-danger" (click)="confirm(tour.id)"
                    *ngIf="(permissionHandler$ | async).staff && this.filterFinishedTours(tour.stateId)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>

  <!--  Beginn Dialogfenster  -->
  <form [formGroup]="createTour">
  <p-dialog header="Neue Tour" [modal]="true" [(visible)]="display" [style]="{width: '600px'}">
    <div class="p-grid">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
        <avk-categoryselect
            formControlName="categoryIds"
            id="categoryIds"
            [seasonSpecific]="this.partNewTour.value"
            [topicSpecific]="'tour'">
        </avk-categoryselect>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
        <avk-date formControlName="startDate" id="dbeginn" label="Startdatum" [min]="createTour.get('deadline').value"></avk-date>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
        <avk-date formControlName="deadline" id="dend" label="Deadline Anmeldung" [max]="createTour.get('startDate').value"></avk-date>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
        <p-toggleButton offLabel="Vorbesprechung hinzufügen" onLabel="Vorbesprechung entfernen" class="ui-button-success" (click)="selectPreliminary()"></p-toggleButton>
      </div>
    </div>
    <div class="p-grid" *ngIf="preliminarySelect">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
        <avk-date formControlName="preliminary" id="preliminary" label="Vorbesprechung"
                  [min]="createTour.get('deadline').value" [max]="createTour.get('startDate').value"></avk-date>
      </div>
    </div>
    <p-button label="Bestätigen" (onClick)="create(createTour.get('categoryIds').value, createTour.get('startDate').value,
              createTour.get('deadline').value, createTour.get('preliminary').value)"></p-button>
  </p-dialog>
  </form>

  <form [formGroup]="cloneTour">
  <p-dialog header="Tour klonen" [modal]="true" [(visible)]="displayclone" [style]="{width: '600px'}">
    <div class="p-grid">
      <div class="p-col-12 p-sm-9 p-md-9 p-lg-9">
        <avk-date formControlName="startDate" id="dclone" label="Startdatum"></avk-date>
      </div>
      <div class="p-col-12 p-sm-3 p-md-3 p-lg-3">
        <button pButton type="button" label="Bestätigen" class="ui-button-info"
                (click)="clone(cloneTour.get('tourId').value, cloneTour.get('startDate').value)" *ngIf="(permissionHandler$ | async).guide"></button>
      </div>
    </div>
  </p-dialog>
  </form>

  <p-confirmDialog #cd header="Touraktion" icon="pi pi-exclamation-triangle">
    <p-footer>
      <button type="button" pButton icon="pi pi-times" label="Tour nicht löschen" class="ui-button-secondary"
              (click)="cd.reject()"></button>
      <button type="button" pButton icon="pi pi-check" label="Tour löschen" class="ui-button-danger"
              (click)="cd.accept()"></button>
    </p-footer>
  </p-confirmDialog>
</ng-container>
<ng-template #loading>Bitte kurz warten!</ng-template>

