<ng-container  *ngIf="(userIsStaff$ | async) || (userIsAdmin$ | async) else usernotvarified">
<ng-container *ngIf="(guides$ | async) as guides else loading">
  <p-table [value]="guides" selectionMode="single" (selectionChange)="selectGuide($event)">
    <ng-template pTemplate="header">
      <tr>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>E-Mail</th>
        <th>MemberId</th>
        <th>Geburtsdatum</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-guide>
      <tr [pSelectableRow]="guide">
        <td>{{guide.firstName}}</td>
        <td>{{guide.lastName}}</td>
        <td>{{guide.emailUser}}</td>
        <td>{{guide.memberId}}</td>
        <td>{{guide.birthDate}}</td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
</ng-container>
<ng-template #loading>Bitte kurz warten!</ng-template>
<ng-template #usernotvarified></ng-template>
