<ng-container *ngIf="guideGroup$ | async as guideGroup else loading">
  <p-card header="Trainer #{{guideId$ | async}}">
    <!--JSON-Value of Guide-->
    <p-card subheader="JSON-Value">
<!--      <p>GuideGroup:<br/>{{guideGroup.value | json}}</p>-->
<!--      <p>ProfileGroup:<br/>{{(profileGroup$ | async)?.value | json}}</p>-->
      <p>userQualificationArray:<br/>{{(userQualificationArray$ | async)?.value | json}}</p>
      <p>retrainingArray:<br/>{{(retrainingArray$ | async)?.value | json}}</p>
    </p-card>

    <form [formGroup]="guideGroup">

      <p-card subheader="Trainer-Profil">
        <div class="p-grid">
          <div class="p-col-12 p-sm-2 p-md-2 p-lg-2">
            <input formControlName="profileCity" id="profileCity" placeholder="Heimatstadt" type="text" style='width:100%'
                   pInputText>
          </div>
          <div class="p-col-12 p-sm-2 p-md-2 p-lg-2">
            <input formControlName="profileName" id="profileName" placeholder="Spitzname" type="text" style='width:100%'
                   pInputText>
          </div>
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <input formControlName="profileJob" id="profileJob" placeholder="Job in der Sektion" type="text" style='width:100%'
                   pInputText>
          </div>
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <input formControlName="profileQualification" id="profileQualification" placeholder="Qualifikationen" type="text" style='width:100%'
                   pInputText>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <textarea
              [rows]="5"
              pInputTextarea
              formControlName="profileReason"
              id="profileReason"
              placeholder="Gründe für die Sektionsarbeit"
              autoResize="autoResize"
              style='width:100%'
            ></textarea>
          </div>
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <textarea
              [rows]="5"
              pInputTextarea
              formControlName="profileHobby"
              id="profileHobby"
              placeholder="Hobbies"
              autoResize="autoResize"
              style='width:100%'
            ></textarea>
          </div>
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <textarea
              [rows]="5"
              pInputTextarea
              formControlName="profileTip"
              id="profileTip"
              placeholder="Tipps"
              autoResize="autoResize"
              style='width:100%'
            ></textarea>
          </div>
        </div>
      </p-card>

      <p-card subheader="Qualifikationen">
      <!--Button für neue Qualifikation-->
      <p-button label="Qualifikation hinzufügen" (onClick)="addQualification(this.guideGroup.value)"></p-button>
      <!--Liste mit Parametern (Tabelle)-->
      <ng-container *ngIf="(userQualificationArray$ | async) as userQualificationArray">
        <div class="p-grid">
          <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
            <p-table [value]="userQualificationArray.value" selectionMode="single"
                 (selectionChange)="selectQualification($event)">
            <ng-template pTemplate="header">
              <tr>
                <th>Qualifikation</th>
                <th>Jahr</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-qualification let-i="rowIndex">
              <tr [pSelectableRow]="i">
                <td>{{qualification.qualification}}</td>
                <td>{{qualification.year}}</td>
                <td>
                  <div style="text-align: center">
                    <p-button type="button" label="Löschen" styleClass="ui-button-danger"
                      (click)="deleteQualification(qualification.id)"></p-button>
                  </div>
                </td>
              </tr>
            </ng-template>
            </p-table>
          </div>
        </div>
      </ng-container>
      </p-card>

      <ng-container *ngIf="currentQualificationGroup">
        <p-dialog header="QualificationDetail" [modal]="true" [(visible)]="displayQualification" [blockScroll]="true"
                  [style]="{width: '60%', height: '60%'}">
          <form [formGroup]="currentQualificationGroup">
            <!-- ID, Qualifikationsart, Aspirant & Jahr-->
            <div class="p-grid">
              <div class="p-col-12 p-sm-2 p-md-2 p-lg-2">
                <input formControlName="id" id="qualificationId" placeholder="Qualifikations-ID" type="text" style='width:100%'
                       readonly pInputText>
              </div>
              <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
                <avk-userqualificationselect formControlName="qualification" id="qualification" [readOnly]="!(this.loginObject.valState >= 3)">
                </avk-userqualificationselect>
              </div>
              <div class="p-col-12 p-sm-2 p-md-2 p-lg-2">
                <p-checkbox
                  [formControl]="currentQualificationGroup.get('aspirant')"
                  label="Aspirant"
                  binary="true"
                ></p-checkbox>
              </div>
              <div class="p-col-12 p-sm-2 p-md-2 p-lg-2">
                <input formControlName="year" id="qualificationYear" placeholder="Jahr" type="text" style='width:100%'
                       pInputText>
              </div>
            </div>

            <!-- Notizen -->
            <div class="p-grid">
              <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
                <textarea
                  [rows]="5"
                  pInputTextarea
                  formControlName="note"
                  id="qualificationNote"
                  placeholder="Notizen zur Qualifikation"
                  autoResize="autoResize"
                  style='width:100%'
                ></textarea>
              </div>
            </div>
          </form>
        </p-dialog>
      </ng-container>

      <p-card subheader="Fortbildungen">
      <!--Button für neue Fortbildung-->
      <p-button label="Fortbildung hinzufügen" (onClick)="addRetraining(this.guideGroup.value)"></p-button>
      <!--Liste mit Parametern (Tabelle)-->
      <ng-container *ngIf="(retrainingArray$| async) as retrainingArray">
        <div class="p-grid">
          <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
            <p-table [value]="retrainingArray.value" selectionMode="single"
                 (selectionChange)="selectRetraining($event)">
            <ng-template pTemplate="header">
              <tr>
                <th>Fortbildung</th>
                <th>Qualifikation</th>
                <th>Jahr</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-retraining let-i="rowIndex">
              <tr [pSelectableRow]="i">
                <td>{{retraining.id}}</td>
                <td>{{retraining.qualification}}</td>
                <td>{{retraining.year}}</td>
                <td>
                  <div style="text-align: center">
                    <p-button type="button" label="Löschen" styleClass="ui-button-danger"
                      (click)="deleteRetraining(retraining.id)"></p-button>
                  </div>
                </td>
              </tr>
            </ng-template>
            </p-table>
          </div>
        </div>
      </ng-container>
      </p-card>

      <!--Dialog-Box für Fortbildungen -->
      <ng-container *ngIf="currentRetrainingGroup">
        <p-dialog header="RetrainingDetail" [modal]="true" [(visible)]="displayRetraining" [blockScroll]="true"
                  [style]="{width: '60%', height: '60%'}">
          <form [formGroup]="currentRetrainingGroup">
            <!-- ID, zugehörige Qualifikation, Aspirant & Jahr-->
            <div class="p-grid">
              <div class="p-col-12 p-sm-2 p-md-2 p-lg-2">
                <input formControlName="id" id="retrainingId" placeholder="Fortbildungs-ID" type="text" style='width:100%'
                       readonly pInputText>
              </div>
              <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
                <avk-userretrainingselect formControlName="qualification" id="retrainingQualification"
                                          [userQualifications]="guideGroup.get('qualifications').value"></avk-userretrainingselect>
              </div>
              <div class="p-col-12 p-sm-2 p-md-2 p-lg-2">
                <input formControlName="year" id="retrainingYear" placeholder="Jahr" type="text" style='width:100%'
                       pInputText>
              </div>
              <div class="p-col-12 p-sm-2 p-md-2 p-lg-2">
                <p-checkbox
                  [formControl]="currentRetrainingGroup.get('specific')"
                  label="spezifisch"
                  binary="true"
                ></p-checkbox>
              </div>
            </div>

            <!-- Notizen -->
            <div class="p-grid">
              <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
                <textarea
                  [rows]="3"
                  pInputTextarea
                  formControlName="description"
                  id="retrainingDescription"
                  placeholder="Beschreibung der Fortbildung"
                  autoResize="autoResize"
                  style='width:100%'
                ></textarea>
              </div>
            </div>

            <!-- Notizen -->
            <div class="p-grid">
              <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
                <textarea
                  [rows]="3"
                  pInputTextarea
                  formControlName="note"
                  id="retrainingNote"
                  placeholder="Notizen zur Fortbildung"
                  autoResize="autoResize"
                  style='width:100%'
                ></textarea>
              </div>
            </div>
          </form>
        </p-dialog>
      </ng-container>

      <p-card subheader="Telefonnummern & E-Mail">
        <div class="p-grid">
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <input formControlName="phone" id="phone" placeholder="Telefon" type="text" style='width:100%' pInputText>
          </div>
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <input formControlName="mobile" id="mobile" placeholder="Handynummer" type="text" style='width:100%'
                   pInputText>
          </div>
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <input formControlName="email" id="email" placeholder="E-Mail" type="text" style='width:100%'
                   pInputText>
          </div>
        </div>
      </p-card>

      <ng-container *ngIf="(profileGroup$ | async) as profileGroup">
      <form [formGroup]="profileGroup">
      <p-card subheader="Eintrittsdatum, Mitgliedsnummer, Geschlecht & Geburtsdatum"
              *ngIf="!!(this.loginObject.valState >= 3)">
        <div class="p-grid">
          <div class="p-col-12 p-sm-3 p-md-2 p-lg-3">
            <input formControlName="memberId" id="memberId" placeholder="Mitgliedsnummer" type="text"
                   style='width:100%'
                   pInputText>
          </div>
          <div class="p-col-12 p-sm-3 p-md-3 p-lg-3">
            <avk-sexdropdown formControlName="sex" id="sex"></avk-sexdropdown>
          </div>
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
            <p-calendar formControlName="birthDate" id="birthDate" [locale]="de"
                        dataType="string" showIcon="true" dateFormat="yy-mm-dd"
                        placeholder="jjjj-mm-tt"></p-calendar>
          </div>
        </div>
      </p-card>

      <p-card subheader="Notiz, Eintrittsjahr, A-Mitglied, Heimatsektion"
              *ngIf="!!(this.loginObject.valState >= 3)">
        <div class="p-grid">
          <div class="p-col-12 p-sm-3 p-md-3 p-lg-3">
        <textarea
          [rows]="3"
          pInputTextarea
          formControlName="note"
          id="note"
          readonly
          placeholder="Interne Notizen"
          autoResize="autoResize"
          style='width:100%'
        ></textarea>
          </div>
          <div class="p-col-12 p-sm-3 p-md-3 p-lg-3">
            <input formControlName="memberYear" id="memberYear" placeholder="Eintrittsjahr" type="number"
                   style='width:100%' pInputText>
          </div>
          <div class="p-col-12 p-sm-3 p-md-3 p-lg-3">
            <p-checkbox
              [formControl]="profileGroup.get('integralMember')"
              label="A-Mitglied"
              binary="true"
            ></p-checkbox>
          </div>
          <div class="p-col-12 p-sm-3 p-md-3 p-lg-3">
            <input formControlName="memberHome" id="memberHome" placeholder="Heimatsektion" type="text"
                   style='width:100%' pInputText>
          </div>
        </div>
      </p-card>
      </form>
      </ng-container>
    </form>
    <p-card>
      <div class="p-grid">
      <div class="p-col-12 p-sm-1 p-md-1 p-lg-1" *ngIf="!!(this.loginObject.valState >= 3)">
        <p-button type="button" label="Speichern"
            (click)="save(this.guideGroup.value)"></p-button>
      </div>
      <div class="p-col-12 p-sm-1 p-md-1 p-lg-1">
        <a routerLink="../"><p-button label="Zurück"></p-button></a>
      </div>
    </div>
    </p-card>
  </p-card>
</ng-container>
<ng-template #loading>
  Einen kleinen Moment bitte...
  <a routerLink="../"><p-button label="Zurück"></p-button></a>
</ng-template>
