<ng-container *ngIf="guideGroup$ | async as guideGroup else loading">
  <p-card header="Trainer #{{guideId$ | async}}">
    <!--JSON-Value of Guide-->
    <p-card subheader="JSON-Value">
<!--      <p>GuideGroup:<br/>{{guideGroup.value | json}}</p>-->
<!--      <p>ProfileGroup:<br/>{{(profileGroup$ | async)?.value | json}}</p>-->
      <p>userQualificationArray:<br/>{{(userQualificationArray$ | async)?.value | json}}</p>
      <p>retrainingArray:<br/>{{(retrainingArray$ | async)?.value | json}}</p>
    </p-card>

    <form [formGroup]="guideGroup">

      <p-card subheader="Trainer-Profil">
        <div class="p-grid">
          <div class="p-col-12 p-sm-2 p-md-2 p-lg-2">
            <input formControlName="profileCity" id="profileCity" placeholder="Heimatstadt" type="text" style='width:100%'
                   pInputText>
          </div>
          <div class="p-col-12 p-sm-2 p-md-2 p-lg-2">
            <input formControlName="profileName" id="profileName" placeholder="Spitzname" type="text" style='width:100%'
                   pInputText>
          </div>
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <input formControlName="profileJob" id="profileJob" placeholder="Job in der Sektion" type="text" style='width:100%'
                   pInputText>
          </div>
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <input formControlName="profileQualification" id="profileQualification" placeholder="Qualifikationen" type="text" style='width:100%'
                   pInputText>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <textarea
              [rows]="5"
              pInputTextarea
              formControlName="profileReason"
              id="profileReason"
              placeholder="Gründe für die Sektionsarbeit"
              autoResize="autoResize"
              style='width:100%'
            ></textarea>
          </div>
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <textarea
              [rows]="5"
              pInputTextarea
              formControlName="profileHobby"
              id="profileHobby"
              placeholder="Hobbies"
              autoResize="autoResize"
              style='width:100%'
            ></textarea>
          </div>
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <textarea
              [rows]="5"
              pInputTextarea
              formControlName="profileTip"
              id="profileTip"
              placeholder="Tipps"
              autoResize="autoResize"
              style='width:100%'
            ></textarea>
          </div>
        </div>
      </p-card>

      <p-card subheader="Qualifikationen & Fortbildungen" *ngIf="!!(this.loginObject.valState >= 3)">
        <div class="p-grid">
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
            <input formControlName="qualifications" id="qualifications" placeholder="Qualifikationen" type="text"
                   style='width:100%' pInputText>
          </div>
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
        <textarea
          [rows]="3"
          pInputTextarea
          formControlName="retrainings"
          id="retrainings"
          readonly
          placeholder="Fortbildungen"
          autoResize="autoResize"
          style='width:100%'
        ></textarea>
          </div>
        </div>
      </p-card>

      <p-card subheader="Telefonnummern & E-Mail">
        <div class="p-grid">
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <input formControlName="phone" id="phone" placeholder="Telefon" type="text" style='width:100%' pInputText>
          </div>
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <input formControlName="mobile" id="mobile" placeholder="Handynummer" type="text" style='width:100%'
                   pInputText>
          </div>
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <input formControlName="email" id="email" placeholder="E-Mail" type="text" style='width:100%'
                   pInputText>
          </div>
        </div>
      </p-card>

      <ng-container *ngIf="(profileGroup$ | async) as profileGroup">
      <form [formGroup]="profileGroup">
      <p-card subheader="Eintrittsdatum, Mitgliedsnummer, Geschlecht & Geburtsdatum"
              *ngIf="!!(this.loginObject.valState >= 3)">
        <div class="p-grid">
          <div class="p-col-12 p-sm-3 p-md-2 p-lg-3">
            <input formControlName="memberId" id="memberId" placeholder="Mitgliedsnummer" type="text"
                   style='width:100%'
                   pInputText>
          </div>
          <div class="p-col-12 p-sm-3 p-md-3 p-lg-3">
            <avk-sexdropdown formControlName="sex" id="sex"></avk-sexdropdown>
          </div>
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
            <p-calendar formControlName="birthDate" id="birthDate" [locale]="de"
                        dataType="string" showIcon="true" dateFormat="yy-mm-dd"
                        placeholder="jjjj-mm-tt"></p-calendar>
          </div>
        </div>
      </p-card>

      <p-card subheader="Notiz, Eintrittsjahr, A-Mitglied, Heimatsektion"
              *ngIf="!!(this.loginObject.valState >= 3)">
        <div class="p-grid">
          <div class="p-col-12 p-sm-3 p-md-3 p-lg-3">
        <textarea
          [rows]="3"
          pInputTextarea
          formControlName="note"
          id="note"
          readonly
          placeholder="Interne Notizen"
          autoResize="autoResize"
          style='width:100%'
        ></textarea>
          </div>
          <div class="p-col-12 p-sm-3 p-md-3 p-lg-3">
            <input formControlName="memberYear" id="memberYear" placeholder="Eintrittsjahr" type="number"
                   style='width:100%' pInputText>
          </div>
          <div class="p-col-12 p-sm-3 p-md-3 p-lg-3">
            <p-checkbox
              [formControl]="profileGroup.get('integralMember')"
              label="A-Mitglied"
              binary="true"
            ></p-checkbox>
          </div>
          <div class="p-col-12 p-sm-3 p-md-3 p-lg-3">
            <input formControlName="memberHome" id="memberHome" placeholder="Heimatsektion" type="text"
                   style='width:100%' pInputText>
          </div>
        </div>
      </p-card>
      </form>
      </ng-container>
    </form>
    <p-card>
      <div class="p-grid">
      <div class="p-col-12 p-sm-1 p-md-1 p-lg-1" *ngIf="!!(this.loginObject.valState >= 3)">
        <p-button type="button" label="Speichern"
            (click)="save(this.guideGroup.value)"></p-button>
      </div>
      <div class="p-col-12 p-sm-1 p-md-1 p-lg-1">
        <a routerLink="../"><p-button label="Zurück"></p-button></a>
      </div>
    </div>
    </p-card>
  </p-card>
</ng-container>
<ng-template #loading>
  Einen kleinen Moment bitte...
  <a routerLink="../"><p-button label="Zurück"></p-button></a>
</ng-template>
