<ng-container *ngIf="tourGroup$ | async as tourGroup else loading">
<p-card header="Tour #{{tourId$ | async}}">
<!--<h1>Tour #{{tourId$ | async}}</h1>-->
<!--<p>{{tourGroup.value | json}}</p>-->

<form [formGroup]="tourGroup">
  <!--Guide, Kosten, Einnahmen-->
  <p-card subheader="Trainer, Kosten & Einnahmen">
  <div class="p-grid">
    <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
      <avk-guide
          formControlName="guideId"
          id="g1"
          label="Trainer"
          [nameIdList]="tourGroup.get('teamIds').value"
          required
      ></avk-guide>
    </div>
    <div class="p-col-12 p-sm-3 p-md-3 p-lg-3">
      <input id="costs" placeholder="Kosten" type="text" style='width:100%'
             pInputText>
    </div>
    <div class="p-col-12 p-sm-3 p-md-3 p-lg-3">
      <input id="revenue" placeholder="Einnahmen" type="text" style='width:100%'
             pInputText>
    </div>
  </div>
  </p-card>

  <!--Team, LadiesOnly, YouthOnTour, LEA-->
  <p-card subheader="Team, LadiesOnly, YouthOnTour & LEA">
  <div class="p-grid">
    <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
      <avk-team
          formControlName="teamIds"
          [nameId]="tourGroup.get('guideId').value"
          id="g2"
          label="Team"
      ></avk-team>
    </div>
    <div class="p-col-12 p-sm-2 p-md-2 p-lg-2">
      <p-checkbox
          [formControl]="tourGroup.get('ladiesOnly')"
          label="LadiesOnly"
          binary="true"
      ></p-checkbox>
    </div>
    <div class="p-col-12 p-sm-2 p-md-2 p-lg-2">
      <p-checkbox
          [formControl]="tourGroup.get('youthOnTour')"
          label="YouthOnTour"
          binary="true"
      ></p-checkbox>
    </div>
    <div class="p-col-12 p-sm-2 p-md-2 p-lg-2">
      <p-checkbox
          [formControl]="tourGroup.get('lowEmissionAdventure')"
          label="LEA"
          binary="true"
      ></p-checkbox>
    </div>
  </div>
  </p-card>

  <!--Buchungscode, Status, Hauptkategorie-->
  <p-card subheader="Tour-Details">
  <div class="p-grid">
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <input formControlName="reference" id="reference" placeholder="Buchungsnummer" type="text" style='width:100%'
             readonly pInputText>
    </div>
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <avk-dropdown formControlName="stateId" id="stateId"></avk-dropdown>
    </div>
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
        <avk-categoryselect
            formControlName="categoryId"
            id="categoryId"
            [readOnly]="false"
            [topicSpecific]="'tour'">
        </avk-categoryselect>
    </div>
  </div>

  <!--Technik, Ausdauer-->
  <div class="p-grid">
    <div class="p-col-12 p-sm-8 p-md-8 p-lg-8">
      <avk-skillselect
          formControlName="skillId"
          label="Skills"
          [categorySet]="tourGroup.get('categoryId').value"
      ></avk-skillselect>
    </div>
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <avk-fitnessselect
          formControlName="fitnessId"
          id="fitnessId"
          [readOnly]="false"
          [categorySet]="tourGroup.get('categoryId').value"
      ></avk-fitnessselect>
    </div>
  </div>

  <!--Beschreibung (Info)-->
  <div class="p-grid">
    <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
      <textarea
          [rows]="3"
          pInputTextarea
          formControlName="info"
          id="info"
          placeholder="Informationen, wenn z.B. keine Tourenbesprechung geplant ist."
          autoResize="autoResize"
          style='width:100%'
      ></textarea>
    </div>
  </div>

  <!--Voraussetzung-->
  <div class="p-grid">
    <div class="p-col-12 p-sm-3 p-md-3 p-lg-3">
      <avk-qualificationselect
          formControlName="qualificationIds"
          label="Qualifikation"
      ></avk-qualificationselect>
    </div>
    <div class="p-col-12 p-sm-9 p-md-9 p-lg-9">
        <textarea
            [rows]="1"
            pInputTextarea
            formControlName="preconditions"
            id="preconditions"
            placeholder="Spezielle Voraussetzungen (z.B. Trittsicherheit)"
            autoResize="autoResize"
            style='width:100%'
        ></textarea>
    </div>
  </div>
  </p-card>

  <!--Equipment-Fields-->
  <p-card subheader="Ausrüstung">
  <div class="p-grid">
    <div class="p-col-12 p-sm-3 p-md-3 p-lg-3">
      <avk-multiselect
          formControlName="equipmentIds"
          label="Ausrüstung"
      ></avk-multiselect>
    </div>
    <div class="p-col-12 p-sm-7 p-md-7 p-lg-7">
      <textarea
          [rows]="1"
          pInputTextarea
          formControlName="miscEquipment"
          id="miscEquipmentTopic"
          placeholder="Weitere Ausrüstung"
          autoResize="autoResize"
          style='width:100%'
      ></textarea>
    </div>
    <div class="p-col-12 p-sm-2 p-md-2 p-lg-2">
      <p-checkbox
          [formControl]="tourGroup.get('equipmentService')"
          label="Materialservice"
          binary="true"
      ></p-checkbox>
    </div>
  </div>
  </p-card>

  <!--Teilnehmer, Besondere Vorraussetzungen-->
  <p-card subheader="Teilnehmer">
  <div class="p-grid">
    <div class="p-col-12 p-sm-3 p-md-3 p-lg-3">
      <avk-membernumber
          formControlName="minQuantity"
          label="Mindestens"
          id="m1"
          [maxMember]="tourGroup.get('maxQuantity').value"
      ></avk-membernumber>
    </div>
    <div class="p-col-12 p-sm-3 p-md-3 p-lg-3">
      <avk-membernumber
          formControlName="maxQuantity"
          label="Maximal"
          id="m2"
          [minMember]="tourGroup.get('minQuantity').value"
      ></avk-membernumber>
    </div>
    <div class="p-col-12 p-sm-3 p-md-3 p-lg-3">
      <avk-membernumber
          formControlName="curQuantity"
          label="Aktuell"
          id="m3"
      ></avk-membernumber>
    </div>
  </div>
  </p-card>

  <!--Liste mit Parametern (Tabelle)-->
  <ng-container *ngIf="(eventArray$ | async) as eventArray">
    <p-card subheader="Tour-Termine">
    <div class="p-grid">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
        <p-table [value]="eventArray.value" selectionMode="single"
                 (selectionChange)="selectEvent($event)">
          <ng-template pTemplate="header">
            <tr>
              <th>Datum</th>
              <th>Uhrzeit</th>
              <th>Beschreibung</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-event let-i="rowIndex">
            <tr [pSelectableRow]="i">
              <td>{{event.startDate | date}}</td>
              <td>{{event.startTime | time: event.approximateId}}</td>
              <td>{{event.name}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    </p-card>
  </ng-container>

  <ng-container *ngIf="currentEventGroup">
    <p-dialog header="EventDetail" [modal]="true" [(visible)]="display" [style]="{width: '60%', height: '60%'}">
      <form [formGroup]="currentEventGroup">
        <!--Kurztitel, Langtitel-->
        <div class="p-grid">
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <input formControlName="title" id="title" placeholder="Kurztitel" type="text" style='width:100%'
                   pInputText>
          </div>
          <div class="p-col-12 p-sm-8 p-md-8 p-lg-8">
            <input formControlName="name" id="name" placeholder="Langtitel" type="text" style='width:100%'
                   pInputText>
          </div>
        </div>

        <!--Zeitpunkt Event-->
        <div class="p-grid">
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
            <avk-approxdropdown formControlName="approximateId" id="approx" [readOnly]="(userValState >= 1)"
                                [disable]="!!currentEventGroup.get('startTime').value"></avk-approxdropdown>
          </div>
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
            <avk-time formControlName="startTime" id="time" [disable]="!!currentEventGroup.get('approximateId').value"
            ></avk-time>
          </div>
        </div>

        <!--Zusatz: Datumseingabe (Anfang + Ende + Art)-->
        <div class="p-grid">
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
            <avk-date formControlName="startDate"
                      id="dbeginn" label="Start"
                      [maxInclude]="true"
                      [max]="currentEventGroup.get('endDate').value"
            ></avk-date>
          </div>
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
            <avk-date formControlName="endDate"
                      id="dend" label="Ende"
                      [minInclude]="true"
                      [min]="currentEventGroup.get('startDate').value"
            ></avk-date>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
            <textarea
                [rows]="3"
                pInputTextarea
                formControlName="description"
                id="description"
                placeholder="Beschreibung"
                autoResize="autoResize"
                style='width:100%'
            ></textarea>
          </div>
        </div>

        <!--Ziel und Treffpunkt-->
        <div class="p-grid">
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
            <input formControlName="location" id="location" placeholder="Ziel/Unterkunft (Hütte, Gipfel etc.)"
                   type="text" style="width:100%"
                   pInputText>
          </div>
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
            <input formControlName="rendezvous" id="rendezvous" placeholder="Treffpunkt"
                   type="text" style="width:100%"
                   pInputText>
          </div>
        </div>

        <!--ReservierungsService-->
        <div class="p-grid">
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
            <p-checkbox
                [formControl]="currentEventGroup.get('reservationService')"
                label="Reservierungsservice"
                binary="true"
            ></p-checkbox>
          </div>
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
          </div>
        </div>

        <!--Distal & Distance-->
        <div class="p-grid">
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
            <p-checkbox
                [formControl]="currentEventGroup.get('distal')"
                label="Gemeinschaftsanreise"
                binary="true"
                (onChange)="switchDistal($event, distal)"
            ></p-checkbox>
          </div>
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
            <input #distal formControlName="distance" id="distance" placeholder="Entfernung"
                   type="text" style="width:100%"
                   pInputText>
          </div>
        </div>
        <!--ShuttleService & PublicTransport-->
        <div class="p-grid">
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
            <p-checkbox
                [formControl]="currentEventGroup.get('publicTransport')"
                label="Öffentliche Anreise"
                binary="true"
            ></p-checkbox>
          </div>
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
            <p-checkbox
                [formControl]="currentEventGroup.get('shuttleService')"
                label="ShuttleSerivce"
                binary="true"
            ></p-checkbox>
          </div>
        </div>

        <!--Source, Link & Map-->
        <div class="p-grid">
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <input formControlName="source" id="source" placeholder="Source"
                   type="text" style="width:100%"
                   pInputText>
          </div>
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <input formControlName="link" id="link" placeholder="Link"
                   type="text" style="width:100%"
                   pInputText>
          </div>
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <input formControlName="map" id="map" placeholder="Map"
                   type="text" style="width:100%"
                   pInputText>
          </div>
        </div>
      </form>
    </p-dialog>
  </ng-container>

  <!--Fahrtkosten, Zusatzkosten, Anzahlung-->
  <p-card subheader="Teilnehmergebühr, Zusatzkosten, Anzahlung">
  <div class="p-grid">
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">TN-Gebühr</span>
        <input formControlName="admission" id="admission" placeholder="Teilnehmergebühr" type="number" min="0"
             pInputText>
        <span class="ui-inputgroup-addon">.00</span>
        <span class="ui-inputgroup-addon">€</span>
      </div>
    </div>
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">Zusatz</span>
        <input formControlName="extraCharges" id="extraCharges" placeholder="Zusatzkosten" type="number" min="0"
             pInputText>
        <span class="ui-inputgroup-addon">.00</span>
        <span class="ui-inputgroup-addon">€</span>
      </div>
    </div>
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">Anzahlung</span>
        <input formControlName="advances" id="advances" placeholder="Anzahlung" type="number" min="0"
             pInputText>
        <span class="ui-inputgroup-addon">.00</span>
        <span class="ui-inputgroup-addon">€</span>
      </div>
    </div>
  </div>

  <!--Zusatzkosten & Advances Details-->
  <div class="p-grid">
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
    </div>
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <textarea
        [rows]="2"
        pInputTextarea
        placeholder="Zusatzkosten Details"
        autoResize="autoResize"
        style='width:100%'
      ></textarea>
    </div>
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <textarea
        [rows]="2"
        formControlName="advancesInfo"
        placeholder="Anzahlung Details"
        autoResize="autoResize"
        style='width:100%'
        pInputTextarea
      ></textarea>
    </div>
  </div>
  </p-card>

  <!--Bemerkung-->
<!--  <div class="p-grid">-->
<!--    <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">-->
<!--      <textarea-->
<!--          [rows]="3"-->
<!--          pInputTextarea-->
<!--          placeholder="Bemerkungen"-->
<!--          autoResize="autoResize"-->
<!--          style='width:100%'-->
<!--      ></textarea>-->
<!--    </div>-->
<!--  </div>-->
  <p-card>
  <div class="p-grid">
    <div class="p-col-12 p-sm-1 p-md-1 p-lg-1">
      <p-button type="button" label="Speichern" class="ui-button-info"
          (click)="saveTour(this.tourGroup.value)"></p-button>
      </div>
    <div class="p-col-12 p-sm-1 p-md-1 p-lg-1">
      <a routerLink="../"><p-button label="Zurück"></p-button></a>
    </div>
  </div>
  </p-card>
</form>
</p-card>
</ng-container>

<ng-template #loading>
  Bitte kurz warten!
  <a routerLink="../"><p-button label="Zurück"></p-button></a>
</ng-template>
