<ng-container *ngIf="(userIsStaff$ | async) || (userIsAdmin$ | async) || (userIsOwner$ | async) else usernotvarified">
<ng-container *ngIf="tourGroup$ | async as tourGroup else loading" readonly="True">
<!--<p-card header="Tour #{{tourId$ | async}}">-->
<!--<h1>Tour #{{tourId$ | async}}</h1>-->
<!--<p>{{tourGroup.value | json}}</p>-->

<form [formGroup]="tourGroup">
  <!--Buchungscode, Status, Hauptkategorie-->
  <p-card subheader="Buchungsnummer, Bearbeitungsstatus und Tourenart">
  <div class="p-grid">
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <input formControlName="reference" id="reference" placeholder="Buchungsnummer" type="text"
             readonly  pTooltip="Buchungscode (nicht änderbar)" pInputText>
    </div>
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <avk-dropdown formControlName="stateId" id="stateId" [trainerState]="tourOwner.value"></avk-dropdown>
    </div>
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
        <avk-categoryselect
            formControlName="categoryId"
            id="categoryId"
            [readOnly]="true"
            [topicSpecific]="'tour'"
        >
        </avk-categoryselect>
    </div>
  </div>
  </p-card>

  <!--Guide, LadiesOnly, YouthOnTour-->
  <p-card subheader="Organisation und Durchführung">
  <div class="p-grid">
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <avk-guide
          formControlName="guideId"
          id="g1"
          label="Trainer"
          [nameIdList]="tourGroup.get('teamIds').value"
          required
      ></avk-guide>
    </div>
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <p-checkbox
          [formControl]="tourGroup.get('ladiesOnly')"
          label="LadiesOnly"
          binary="true"
      ></p-checkbox>
    </div>
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <p-checkbox
          [formControl]="tourGroup.get('youthOnTour')"
          label="Jugendtour"
          binary="true"
      ></p-checkbox>
    </div>
  </div>
  </p-card>

  <!--Team-->
  <p-card subheader="Team">
  <div class="p-grid">
    <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
      <avk-team
          formControlName="teamIds"
          [nameId]="tourGroup.get('guideId').value"
          id="g2"
          label="Team"
      ></avk-team>
    </div>
  </div>
  </p-card>

  <!--Liste mit Parametern (Tabelle)-->
  <ng-container *ngIf="(eventArray$ | async) as eventArray">
    <p-card subheader="Tour-Termine">
    <div class="p-grid">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
      Hier können die einzelnen Termine der Tour bearbeitet werden. Erster Termin in der Liste ist die eigentliche <b>Tour</b>,
      zweiter Termin ist der <b>Anmeldeschluss</b> und eventuell dritter Termin ist der Termin für die <b>Vorbesprechung</b>.
      Öffnen kann man die Termine durch Klick auf die Liste.
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
        <p-table [value]="eventArray.value" selectionMode="single"
                 (onRowSelect)="selectEvent($event)">
          <ng-template pTemplate="header">
            <tr>
              <th>Datum</th>
              <th>Uhrzeit</th>
              <th>Beschreibung</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-event let-i="rowIndex">
            <tr [pSelectableRow]="i">
              <td>{{event.startDate | date}}</td>
              <td>{{event.startTime | time: event.approximateId}}</td>
              <td>{{event.name}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    </p-card>
  </ng-container>

  <ng-container *ngIf="currentEventGroup">
    <p-dialog header="Termin-Details" [modal]="true" [(visible)]="display" [blockScroll]="true"
              (onHide)="closeEvent()" [style]="{width: '60%', height: '60%'}">
      <form [formGroup]="currentEventGroup">
        <!--Kurztitel, Langtitel-->
        <div class="p-grid">
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <input formControlName="title" id="title" placeholder="Kurzer, markanter Titel der Tour" type="text" style='width:100%'
                   pTooltip="Kurztitel" pInputText>
          </div>
          <div class="p-col-12 p-sm-8 p-md-8 p-lg-8">
            <input formControlName="name" id="name" placeholder="Längerer, ausführlicher Titel der Tour" type="text" style='width:100%'
                   pTooltip="Langtitel" pInputText>
          </div>
        </div>

        <!--Zeitpunkt Event-->
        <div class="p-grid">
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <avk-approxdropdown formControlName="approximateId" id="approx"
                                [disable]="(!!currentEventGroup.get('startTime').value)||(!!currentEventGroup.get('endTime').value)">
            </avk-approxdropdown>
          </div>
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <avk-time formControlName="startTime" id="time" label="Startzeit"
                      [disable]="!!currentEventGroup.get('approximateId').value"
                      pTooltip="Startzeit"
            ></avk-time>
          </div>
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <avk-time formControlName="endTime" id="endTime" label="Endzeit"
                      [disable]="!!currentEventGroup.get('approximateId').value"
                      pTooltip="Endzeit"
            ></avk-time>
          </div>
        </div>

        <!--Zusatz: Datumseingabe (Anfang + Ende + Art)-->
        <div class="p-grid">
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <avk-date formControlName="startDate"
                      id="dbeginn" label="Startdatum"
                      [maxInclude]="true"
                      [max]="currentEventGroup.get('endDate').value"
                      pTooltip="Startdatum"
            ></avk-date>
          </div>
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <avk-date formControlName="endDate"
                      id="dend" label="Enddatum"
                      [minInclude]="true"
                      [min]="currentEventGroup.get('startDate').value"
                      pTooltip="Enddatum (nur angeben wenn die Veranstaltung länger als einen Tag dauert)"
            ></avk-date>
          </div>
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4"></div>
        </div>
        <div class="p-grid">
          <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
            <textarea
                [rows]="3"
                pInputTextarea
                formControlName="description"
                id="description"
                placeholder="Kurze Beschreibung (Ablauf, Zeitbedarf, Höhenunterschiede, An-/Heimreise)"
                autoResize="autoResize"
                style='width:100%'
            ></textarea>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
            Sonderzeichen: ● ○ ➘ ➚ „“ ½ ⅓ ⅔ ¼ ¾
          </div>
        </div>

        <!--Ziel und Treffpunkt-->
        <div class="p-grid">
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
            <input formControlName="location" id="location" placeholder="Ziel/Unterkunft (Hütte, Gipfel etc.)"
                   type="text" style="width:100%"
                   pInputText>
          </div>
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
            <input formControlName="rendezvous" id="rendezvous" placeholder="Treffpunkt"
                   type="text" style="width:100%" pTooltip="Treffpunkt für die Abfahrt"
                   pInputText>
          </div>
        </div>

        <!--ReservierungsService-->
        <div class="p-grid">
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
            <p-checkbox
                [formControl]="currentEventGroup.get('reservationService')"
                label="Schulungsraum-Reservierung"
                binary="true"
                pTooltip="Reservierungswunsch Schulungsraum"
            ></p-checkbox>
          </div>
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
            <p-checkbox
                [formControl]="currentEventGroup.get('lea')"
                label="Low Emission Adventure"
                binary="true"
            ></p-checkbox>
          </div>
        </div>

        <!--Distal & Distance-->
        <div class="p-grid">
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
            <p-checkbox
                [formControl]="currentEventGroup.get('distal')"
                label="Gemeinschaftsanreise"
                binary="true"
            ></p-checkbox>
          </div>
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6" *ngIf="currentEventGroup.get('distal').value">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon">Entfernung</span>
              <input formControlName="distance" id="distance" type="number" min="0"
                     pTooltip="Gesamtfahrtstrecke der Veranstaltung" pInputText>
              <span class="ui-inputgroup-addon">Km</span>
            </div>
          </div>
        </div>
        <!--ShuttleService & PublicTransport-->
        <div class="p-grid">
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
            <p-checkbox
                [formControl]="currentEventGroup.get('publicTransport')"
                label="Öffentliche Anreise"
                binary="true"
            ></p-checkbox>
          </div>
          <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
            <p-checkbox
                [formControl]="currentEventGroup.get('shuttleService')"
                label="Alpin-Shuttle"
                binary="true"
                pTooltip="Reservierungswunsch für das Alpin-Shuttle"
            ></p-checkbox>
          </div>
        </div>

        <!--Source, Link & Map-->
        <div class="p-grid">
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <input formControlName="source" id="source" placeholder="Ausgangsort"
                   type="text" style="width:100%"
                   pInputText>
          </div>
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <input formControlName="link" id="link" placeholder="Link der Tour im Tourenportal"
                   type="text" style="width:100%"
                   pInputText>
          </div>
          <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
            <input formControlName="map" id="map" placeholder="URL zu einem Kartenausschnitt"
                   type="text" style="width:100%"
                   pInputText>
          </div>
        </div>
      </form>
    </p-dialog>
  </ng-container>

  <p-card subheader="Zusätzliche Toureninformationen">
  <!--Beschreibung (Info)-->
  <div class="p-grid">
    <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
      <textarea
          [rows]="3"
          pInputTextarea
          formControlName="info"
          id="info"
          placeholder="Informationen, wenn z.B. keine Tourenbesprechung geplant ist."
          autoResize="autoResize"
          style='width:100%'
          pTooltip="Tourenabsprache per E-Mail etc."
      ></textarea>
    </div>
  </div>
  </p-card>

  <p-card subheader="Tourenschwierigkeit - Technik & Kondition">
  <!--Technik, Ausdauer-->
  <div class="p-grid">
    <div class="p-col-12 p-sm-8 p-md-8 p-lg-8">
      <avk-skillselect
          formControlName="skillId"
          label="Skills"
          [categorySet]="tourGroup.get('categoryId').value"
      ></avk-skillselect>
    </div>
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <avk-fitnessselect
          formControlName="fitnessId"
          id="fitnessId"
          [readOnly]="false"
          [categorySet]="tourGroup.get('categoryId').value"
      ></avk-fitnessselect>
    </div>
  </div>
  </p-card>

  <p-card subheader="Tourenanforderungen und Ausrüstung">
  <!--Voraussetzung-->
  <div class="p-grid">
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <avk-qualificationselect
          formControlName="qualificationIds"
          label="Qualifikation"
      ></avk-qualificationselect>
    </div>
    <div class="p-col-12 p-sm-8 p-md-8 p-lg-8">
        <textarea
            [rows]="1"
            pInputTextarea
            formControlName="preconditions"
            id="preconditions"
            placeholder="Spezielle Voraussetzungen (z.B. Trittsicherheit)"
            autoResize="autoResize"
            style='width:100%'
            pTooltip="Spezielle Voraussetzungen"
        ></textarea>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <avk-multiselect
          formControlName="equipmentIds"
          label="Ausrüstung"
      ></avk-multiselect>
    </div>
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <textarea
          [rows]="1"
          pInputTextarea
          formControlName="miscEquipment"
          id="miscEquipmentTopic"
          placeholder="Weitere Ausrüstung"
          autoResize="autoResize"
          style='width:100%'
      ></textarea>
    </div>
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <p-checkbox
          [formControl]="tourGroup.get('equipmentService')"
          label="Reservierungswunsch für Ausrüstungsservice"
          binary="true"
      ></p-checkbox>
    </div>
  </div>
  </p-card>

  <!--Teilnehmer, Besondere Vorraussetzungen-->
  <p-card subheader="Teilnehmeranzahl">
  <div class="p-grid">
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <avk-membernumber
          formControlName="minQuantity"
          label="Mindestens"
          id="m1"
          [maxMember]="tourGroup.get('maxQuantity').value"
      ></avk-membernumber>
    </div>
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <avk-membernumber
          formControlName="maxQuantity"
          label="Maximal"
          id="m2"
          [minMember]="tourGroup.get('minQuantity').value"
      ></avk-membernumber>
    </div>
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <avk-membernumber
          formControlName="curQuantity"
          label="Aktuell"
          id="m3"
      ></avk-membernumber>
    </div>
  </div>
  </p-card>

  <!--Fahrtkosten, Zusatzkosten, Anzahlung-->
  <p-card subheader="Teilnehmergebühr, Zusatzkosten, Anzahlung">
  <div class="p-grid">
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">TN-Gebühr</span>
        <input formControlName="admission" id="admission" placeholder="Teilnehmergebühr" type="number" min="0"
             pTooltip="Die TN-Gebühr wird von der GS entsprechend ergänzt" pInputText>
        <span class="ui-inputgroup-addon">.00</span>
        <span class="ui-inputgroup-addon">€</span>
      </div>
    </div>
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">Zusatz</span>
        <input formControlName="extraCharges" id="extraCharges" placeholder="Zusatzkosten" type="number" min="0"
             pTooltip="Zusatzkosten wie Maut, Übernachtungen etc." pInputText>
        <span class="ui-inputgroup-addon">.00</span>
        <span class="ui-inputgroup-addon">€</span>
      </div>
    </div>
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">Anzahlung</span>
        <input formControlName="advances" id="advances" placeholder="Anzahlung" type="number" min="0"
             pTooltip="Anzahlungen für die Tour, Hütten, Liftkarten etc." pInputText>
        <span class="ui-inputgroup-addon">.00</span>
        <span class="ui-inputgroup-addon">€</span>
      </div>
    </div>
  </div>

  <!--Zusatzkosten & Advances Details-->
  <div class="p-grid">
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
    </div>
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <textarea
        [rows]="2"
        formControlName="extraChargesInfo"
        placeholder="Zusatzkosten Details"
        autoResize="autoResize"
        style='width:100%'
        pTooltip="Aufstellung der Zusatzkosten"
        pInputTextarea
      ></textarea>
    </div>
    <div class="p-col-12 p-sm-4 p-md-4 p-lg-4">
      <textarea
        [rows]="2"
        formControlName="advancesInfo"
        placeholder="Anzahlung Details"
        autoResize="autoResize"
        style='width:100%'
        pTooltip="Aufstellung der Anzahlung"
        pInputTextarea
      ></textarea>
    </div>
  </div>
  </p-card>

  <!--Bemerkung für Interna-->
  <p-card subheader="Bemerkungen">
  <div class="p-grid">
    <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
      <textarea
          [rows]="3"
          formControlName="comment"
          pInputTextarea
          placeholder="Bemerkungen"
          autoResize="autoResize"
          style='width:100%'
      ></textarea>
    </div>
  </div>
  </p-card>

  <!--Bemerkung für Interna-->
  <p-card subheader="Nachricht an die Geschäftstelle (intern)">
  <div class="p-grid">
    <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
      <textarea
          [rows]="3"
          formControlName="message"
          pInputTextarea
          placeholder="Wenn ihr noch Angaben zur Tour machen wollt, die bisher keinen Platz gefunden haben..."
          autoResize="autoResize"
          style='width:100%'
      ></textarea>
    </div>
  </div>
  </p-card>

  <p-card>
  <div class="p-grid">
    <div class="p-col-12 p-sm-1 p-md-1 p-lg-1">
      <p-button type="button" label="Speichern" class="ui-button-info"
          (click)="saveTour(this.tourGroup.value)"></p-button>
      </div>
    <div class="p-col-12 p-sm-1 p-md-1 p-lg-1">
      <a routerLink="../"><p-button label="Zurück"></p-button></a>
    </div>
    <div class="p-col-12 p-sm-10 p-md-10 p-lg-10" style="text-align: right">
      <a routerLink="../"><p-button type="button" label="Tour löschen" styleClass="ui-button-danger"
            (click)="deleteTour(this.tourGroup.value.id)"></p-button></a>
    </div>
  </div>
  </p-card>
</form>
<!--</p-card>-->
</ng-container>
</ng-container>
<ng-template #loading>
  Bitte kurz warten!
  <a routerLink="../"><p-button label="Zurück"></p-button></a>
</ng-template>
<ng-template #usernotvarified></ng-template>
