<ng-container *ngIf="(activeItem$ | async) as activeItem else loading">
  <p-tabMenu [model]="menuItems" [activeItem]="{}"></p-tabMenu>
  <p-button label="Kurs hinzufügen" (onClick)="handleClick()" *ngIf="this.userValState >= 3"></p-button>
  <ng-container *ngIf="(instructions$ | async) as instructions">
    <p-table [value]="instructions" selectionMode="single" (selectionChange)="selectInstruction($event)">
      <ng-template pTemplate="header">
        <tr>
          <th>Buchungscode</th>
          <th>Datum</th>
          <th>Bezeichnung</th>
          <th>Trainer</th>
          <th>Belegung (Min|Aktuell|Max)</th>
          <th>Kursaktionen</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-instruction>
        <tr [pSelectableRow]="instruction">
          <td>{{instruction.reference}}</td>
          <td>{{instruction.startDate | date}}</td>
          <td>{{instruction.title}}</td>
          <td>{{instruction.guideId | name}}</td>
          <td>{{instruction.minQuantity}} | {{instruction.curQuantity}} | {{instruction.maxQuantity}}</td>
          <td>
            <button pButton type="button" label="Klonen" class="ui-button-success"
                    (click)="clone(instruction.id)" *ngIf="this.userValState >= 3"></button>
            <button pButton type="button" label="Löschen" class="ui-button-warning"
                    (click)="delete(instruction.id)"
                    *ngIf="this.userValState >= 3 && this.finishedInstructions.indexOf(instruction.stateId) === -1"></button>
            <button pButton type="button" label="Deaktivieren" class="ui-button-info"
                    (click)="deactivate(instruction.id)" *ngIf="this.userValState >= 3"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>

  <!--  Beginn Dialogfenster  -->
  <form [formGroup]="createInstruction">
  <p-dialog header="Neuer Kurs" [modal]="true" [(visible)]="display" [style]="{width: '600px'}">
    <div class="p-grid">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
        <avk-categoryselect
            formControlName="topicId"
            id="topicId"
            [seasonSpecific]="this.partNewInstruction.value"
            [topicSpecific]="'instruction'">
        </avk-categoryselect>
      </div>
    </div>
      <div class="p-grid">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12">
        <avk-date formControlName="startDate"
                  id="dbeginn" label="Start"
        ></avk-date>
      </div>
    </div>
    <p-button label="Bestätigen" (onClick)="confirmClick()"></p-button>
  </p-dialog>
  </form>
</ng-container>
<ng-template #loading>Bitte kurz warten!</ng-template>
