<ng-container *ngIf="!(isLoading$ | async) else loading">
<ng-container *ngIf="instruction$ | async as instruction">
<ng-container *ngIf="topic$ | async as topic">
<ng-container *ngIf="events$ | async as events">
<ng-container *ngIf="eventIds$ | async as eventIds">

  <h1>Instruction {{instruction.reference}}</h1>
  <p>Instruction:<br />{{instruction | json}}</p>
  <p>Topic:<br />{{topic | json}}</p>
  <p>EventIds: {{eventIds.join(', ')}}<br />
  <ng-container *ngFor="let event of events">{{event | json}}<br /></ng-container>
  </p>

</ng-container>
</ng-container>
</ng-container>
</ng-container>
</ng-container>
<ng-template #loading>Bitte kurz warten!</ng-template>
